<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendor/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1"/>
    <title>Northwind Sales</title>

  </head>
  <!-- declare ng-app salesApp -->
  <body layout="row" ng-app='salesApp'>
    <div layout="column" layout-fill>

      <md-toolbar>
        <div class="md-toolbar-tools" ng-controller="sideNavCtrl">
          <!-- open left menu  -->
          <md-button ng-click="openLeftMenu()" class="md-icon-button md-primary" aria-label="Settings">
            <md-icon md-svg-icon="/public/img/icons/menu.svg"></md-icon>
          </md-button>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <span>Northwind Sales</span>
        </div>
      </md-toolbar>

      <!-- left menu -->
      <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar layout-align="center center">
          <span>Modules</span>
          <!--  TODO on menu btn click, load module to main content window -->
        </md-toolbar>
            <md-menu-item>
              <md-button ng-click="">Sales Team</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="">Regions</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="">Products</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="">Item Priority</md-button>
            </md-menu-item>
      </md-sidenav>

      <!-- main content cards, list of people added -->
      <md-content layout-fill class="md-padding" layout-xs="row" layout="row" layout-align="center start">

        <div flex-xs flex-gt-xs="100" layout="row" layout-xs="column" ng-controller="personCtrl">
          <!--  start of card repeating -->
          <!-- TODO btn to delete card -->
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">John Nieves</span>
                <span class="md-subhead">Small</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <!--  repeat over available regions -->
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised">Action 1</md-button>
              <md-button class="md-raised">Action 2</md-button>
            </md-card-actions>
          </md-card>

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">John Nieves</span>
                <span class="md-subhead">Small</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <!--  repeat over available regions -->
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised">Action 1</md-button>
              <md-button class="md-raised">Action 2</md-button>
            </md-card-actions>
          </md-card>

        </div>


      </md-content>
      <!--  TODO figure out a way to get this to float slightly higher up.-->
      <!-- add sales person btn -->
      <section layout="row" layout-align="end end" ng-controller="addPersonCtrl">
        <md-button class="md-fab" aria-label="Add Item" ng-click="openFromBottom($event)">
          <md-icon md-svg-src="/public/img/icons/add.svg"></md-icon>
        </md-button>
      </section>
      <!-- end of main content -->

      <span id="bottom"></span>
      <!-- end of btn section -->
    </div>

  </body>
  <script src="/vendor/angular/angular.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-animate/angular-animate.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-aria/angular-aria.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-material/angular-material.min.js" charset="utf-8"></script>

  <script src="/public/js/module.js" charset="utf-8"></script>
  <script src="/public/js/controller/sidenav.js" charset="utf-8"></script>
  <script src="/public/js/service/peopleFactory.js" charset="utf-8"></script>
  <script src="/public/js/controller/salesPeople.js" charset="utf-8"></script>
  <script src="/public/js/controller/addPerson.js" charset="utf-8"></script>


</html>
