<md-content layout-padding>
  <form name="addPersonForm">
    <span>Add a new Sales Person</span>
    <!-- enter name -->
    <md-input-container class="md-block">
      <label>Name</label>
      <input md-maxlength="30" required md-no-asterisk name="name" ng-model="person.name">
      <div ng-messages="addPersonForm.name.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <!-- select regions -->
    <!--  FIXME move inline style to stylesheet -->
    <md-input-container style="flex-wrap: wrap; justify-content: space-between;" layout="row" layout="start start">
      <div ng-repeat="region in regions">
        <md-checkbox ng-click="toggle(region)" aria-label="{{region}}">
          {{region}}
        </md-checkbox>
      </div>
    </md-input-container>
    <!-- check for length, if 4, return errMessage -->
    <div ng-hide="person.regions.length < 4">
      <span>You can only select a maximum of 4 regions.</span>
    </div>
    <!-- save or cancel section -->
    <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
      <md-button class="md-warn" ng-click="cancel()">Cancel</md-button>
      <!--  disable save button if length is 4 -->
      <md-button ng-disabled="person.regions.length === 4 || !person.name || person.regions.length === 0" md-primary ng-click="save(person)">Save</md-button>
    </section>
  </form>
</md-content>
